.divido-calculator {
    padding:10px 20px 20px 20px;
    text-shadow:none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0, rgba(0, 0, 0, 0.05) 0 0 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0, rgba(0, 0, 0, 0.05) 0 0 0 5px;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0, rgba(0, 0, 0, 0.05) 0 0 0 5px;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0, rgba(0, 0, 0, 0.05) 0 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0, rgba(0, 0, 0, 0.05) 0 0 0 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #555;
    border-color: #d9d7ce #c8c6c1 #B0AEA6;
    margin:20px;
}


#divido-checkout {
	margin:0px;
}

.divido-calculator .divido-headline {
    font-size: 24px;
}

.divido-calculator .divido-logo {
	width: 140px;
	height: 42px;
	display: block;
	font-size: 20px;
	line-height: 1;
	text-indent: -9999px;
	background-image:url('//cdn.divido.com/images/logo-black-140x42.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.divido-calculator .divido-logo-sm {
	width: 75px;
	height: 23px;
	background-image:url('//cdn.divido.com/images/logo-black-75x23.png');
}

.divido-calculator .divido-controls {
    overflow: auto;
}

.divido-calculator .divido-controls > div {
    display: inline-block;
    min-width: 250px;
    width: 49%;
    margin-bottom: 10px;
    vertical-align: top;
}

.divido-calculator .divido-controls label {
    display: block;
}

.divido-calculator .divido-controls input[type=range],
.divido-calculator .divido-controls select  {
    width: 90%;
}

.divido-calculator select {
	text-transform: none;
}


.divido-calculator input[type=range]{
	-webkit-appearance: none;
	border:0px;
	padding:0px;
	outline: none !important;
	border:0px !important;
}

.divido-calculator input[type=range]::-webkit-slider-runnable-track {
	height: 5px;
	border: none;
	border-radius: 3px;
	background: #999;
}

.divido-calculator input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	margin-top: -4px;
}

.divido-calculator .divido-info {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding:20px;
}

.divido-calculator .divido-info .divido-info-terms,
.divido-calculator .divido-info .divido-info-prereq {
    display: inline-block;
    overflow: visible;
    min-width: 230px;
    width: 49%;
    margin-bottom: 10px;
    vertical-align: top;
}

.divido-calculator .divido-info .divido-info-terms .divido-info-term, 
.divido-calculator .divido-info .divido-info-terms .divido-info-term {
    float: left;
    width: 150px;
}

.divido-calculator .divido-info .divido-info-prereq ul {
    list-style-image: url('//cdn.divido.com/images/conditions-check-green-20x15.png');
    list-style-position: inside;
}

/* Blue theme */
.divido-theme-blue, .divido-theme-blue * {
    color: white;
	background-color: #3E4F8B;
}

.divido-theme-blue label  {
    color: white;
}

.divido-theme-blue a.divido-logo {
	background-image:url('//cdn.divido.com/images/logo-white-140x42.png');
}

.divido-theme-blue a.divido-logo-sm {
	background-image:url('//cdn.divido.com/images/logo-white-75x23.png');
}

.divido-theme-blue .divido-info, .divido-theme-blue .divido-info * {
	background: #f9f9f9;
	color: #000;
}

.divido-theme-blue input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}

.divido-theme-blue input[type=range]::-webkit-slider-thumb {
	background: #fff;
}


/* Light theme */
.divido-theme-light, .divido-theme-light * {
	background-color: #fff;
	color: #3E4F8B;
}	

.divido-theme-light .divido-info, .divido-theme-light .divido-info * {
	background: #f9f9f9;
	color: #000;
}

.divido-theme-light a.divido-logo {
	background-image:url('//cdn.divido.com/images/logo-blue-140x42.png');
}
.divido-theme-light a.divido-logo-sm {
	background-image:url('//cdn.divido.com/images/logo-blue-75x23.png');
}

.divido-theme-light input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}

.divido-theme-light input[type=range]::-webkit-slider-thumb {
	background: #3E4F8B;
}
